@font-face{
	font-family: 'alone';
	src:url(../fonts/morning.ttf);
}
@font-face{
	font-family: 'weather';
	src:url(../fonts/weather.otf);
}
#desktop{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../image/wallpaper-1.jpg)center center;
	background-size: cover;
	transition:all 4s ease;
	z-index: 10;
	overflow: hidden;
}
#taskbar-container{
	width: 100%;
	height: 40px;
	position:absolute;
    bottom:-2px;
    right:0;

	box-shadow: 0px -2px 18px black;
}
#icon-container{
	position: fixed;
	width: 100%;
	height: 94%;
}
.d-menu-item{
	height: 37px;
	margin-top:2px; 
	width: 242px;
	
}
.d-menu-item:hover{
	background-color:black;
}
.d-menu-icon{
	height: 100%;
	width: 25%;
	position: relative;
	float: left;
}
.d-menu-text{
	height: 100%;
	width: 75%;
	position: relative;
	float: left;
	text-align: left;
	font-family: 'roboto-normal';
	font-size: 16px;
	vertical-align: text-top;
	color:white;
}
#start-menu {
    position: absolute;
    padding: 3px;
    bottom: 38px;
    left: 1px;
    height: 400px;
    width: 250px;
    background-color: rgba(0,0,0,0.5);
}
#start-button{
	height: 100%;
	width: 120px;
	bottom:100px;

}

#start-logo{
	position: relative;
    top: 7px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    transform-origin: center;
    transform: rotate(45deg);

    animation-name:spinThisShit;
	animation-duration:4s;
	animation-iteration-count:infinite;

}
#start-text{
	top: -16px;
    left: -32px;
    position: relative;
    width: 50px;
    height: 100%;
    text-align: center;
    color: white;
    float: right;
    font-family: 'roboto';
}
#time{
	position: absolute;
    text-align: center;
    font-weight: 700;
    height: 50%;
    width: 80px;
    bottom: 15px;
    right: 4px;
    font-size: 12px;
    color: #fff;
}
#date{
	position: absolute;
    text-align: center;
    height: 50%;
    width: 70px;
    bottom: 0px;
    right: 6px;
    font-weight: 700;
    color: #fff;
    font-size: 11px;
}
.d-scrollable{
	overflow: scroll;
}

.start-box{
	margin: 1px;
	width: 10px;
	height: 10px;
	background: white;
	position: absolute;
	transition:0.1s;
	animation-name:ColorSwapper;
	animation-duration:8s;
	animation-iteration-count:infinite;
	animation-timing-function: step-end;
}
#start-box-1{
	background-color:#C64D2F;
	
}
#start-box-2{
	left:12px;
	animation-delay:2s;
}

#start-box-4{
	left:12px;
	top:12px;
	animation-delay:4s;
}
#start-box-3{
	top:12px;
	animation-delay:6s;
}
#weather-container{
	position: absolute;
    text-align: center;
    bottom:0px;
    left: 250px;
    width: 400px;
	height: 150px;
    color: white;
    z-index: 90;

}
#weather-container > #city{
	
	font-family: 'alone';
	font-size: 3em;
}
#weather-container > #weather-icon{
	font-family: 'weather';
	font-size:4em;
}
#weather-container > #weather-temperature{
	font-family: 'alone';
	font-size: 2em;
}
@keyframes ColorSwapper{
	0%{
		background-color:#C64D2F;
	}
	25%{
		background-color:white;
	}
	50%{
		background-color:white;
	}
	100%{
		background-color:#C64D2F;
	}
}

@keyframes spinThisShit{
	0%{
		transform: rotate(45deg);
	}
	100%{
		transform: rotate(765deg);
	}
}