#desktop{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../image/wallpaper-1.jpg)center center;
	background-size: cover;
	transition:all 4s ease;
	z-index: 10;
	overflow: hidden;
}
#taskbar-container{
	width: 100%;
	height: 40px;
	position:absolute;
    bottom:-2px;
    right:0;
	background:#E7DBC7;
	box-shadow: 0px -2px 18px black;
}
#icon-container{
	position: fixed;
	width: 100%;
	height: 94%;
}
.d-menu-item{
	height: 37px;
	margin-top:2px; 
	width: 242px;
	
}
.d-menu-item:hover{
	background-color:#E7DDC8;
}
.d-menu-icon{
	height: 100%;
	width: 25%;
	position: relative;
	float: left;
}
.d-menu-text{
	height: 100%;
	width: 75%;
	position: relative;
	float: left;
	text-align: left;
	font-family: 'roboto-normal';
	font-size: 16px;
	vertical-align: text-top;
}
#start-menu {
    position: absolute;
    padding: 3px;
    bottom: 38px;
    left: 1px;
    height: 400px;
    width: 250px;
    background-color: white;
}
#start-button{
	height: 100%;
	width: 120px;
	bottom:100px;
	background: #E1BA91;
	border-top-right-radius: 40px;
}
#start-button:hover{
	background: #8A7259;
}
#start-button:hover{
	cursor: pointer;
}
#start-logo{
	margin-left:10px;
	width: 40px;
	height: 100%;
	background:url(../image/startbutton.png);
	background-size: 100% 100%;
}
#start-text{
	top: -27px;
    left: -21px;
    position: relative;
    width: 50px;
    height: 100%;
    text-align: center;
    color: white;
    float: right;
    font-family: 'roboto';
}
#time{
	position: absolute;
    text-align: center;
    font-weight: 700;
    height: 50%;
    width: 80px;
    bottom: 15px;
    right: 4px;
    font-size: 12px;
    color: #747062;
}
#date{
	position: absolute;
    text-align: center;
    height: 50%;
    width: 70px;
    bottom: 0px;
    right: 6px;
    font-weight: 700;
    color: #444340;
    font-size: 11px;
}
.d-scrollable{
	overflow: scroll;
}