a{
	color:inherit;	
}
a:hover{
	color:inherit;
}
a:visited{
	color:inherit;
}
.desktop-icon{
	position: relative;
	width: 64px;
	height: 74px;
	padding-bottom:4px;
	border-radius: 10px;
}
.d-shadow{
	box-shadow: 8px 10px 21px rgba(0,0,0,0.8);
}
.d-icon{
	position: relative;
	height: 75%;
	width: 100%;
	background-size:64px 64px;
	border-radius:20px;
}
.desktop-icon:hover{
	background-color: rgba(0,0,127,0.5);
}
.d-icon-text{
	position: relative;
	font-size: 14px;
	height: 25%;
	width: 100%;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
}
.title-bar{
	position: relative;
    height: 60px;
    width: 100%;
    background: #FEFEFD;
    box-shadow: 0px -1px 11px black;
    z-index: 81;
	
}
.close-btn{
	position: absolute;
    top: -5px;
    right: 9px;
    font-size: 22px;
    color: #6D6558;
    font-family:'roboto';
}
.close-btn:hover{
	cursor: pointer;
	color:black;
}
.title-text{
	text-align: left;
	font-size: 28px;
	padding-left: 10px;
	padding-top:8px;
	font-family: 'roboto-normal';
	color:#6D6558;

}
#icon-1{
	background-image: url(../icons/about.png);
}

/* TURN ALL THESE APP IDs TO CLASSES.  (app-2 to all the way) UNNECESSARY OVERHEAD, CAN BE OPTIMIZED */
#d-app-2{
	position: absolute;
	width: 600px;
	height: 520px;
	min-width: 300px;
	z-index: 81;
	overflow: hidden;
	
}
#d-app-3{
	position: absolute;
	width: 600px;
	height: 450px;
	min-width: 300px;
	background-color: rgba(255,255,255,0.5);
	z-index: 82;
}
#d-app-4{
	position: absolute;
	width: 600px;
	height: 450px;
	min-width: 300px;
	background-color: rgba(255,255,255,0.5);
	z-index: 83;
}
#d-app-5{
	position: absolute;
	width: 600px;
	height: 450px;
	background-color: rgba(255,255,255,0.5);
	z-index: 84;
}
#d-app-6{
	position: absolute;
	width: 600px;
	height: 450px;
	background-color: rgba(255,255,255,0.5);
	z-index: 85;
}

#txt-abtme{
	padding: 30px;
	position: relative;
	height: inherit;
	width: 100%;
	background: #FFFFFF;
	overflow: scroll;
}
