
body{
	  -webkit-user-select: none !important;  /* Chrome all / Safari all */
	  -moz-user-select: none !important;     /* Firefox all */
	  -ms-user-select: none !important;      /* IE 10+ */
	  user-select: none !important;
	  cursor: default !important;
}

#login-page{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 90;	
	background: url(../image/city.jpg) center center fixed;
	background-size:cover;
}
#login-wrapper{
	top:20px;
	left:2%;
	position: absolute;
	width: 96%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}
#login-wrapper > #login-container{
	position: relative;
	top:80px;
	margin: auto;
	width: 500px;
	height: 250px;
	
}
#login-wrapper > #login-container > #login-image{
	position: relative;
	height: 200px;
	width: 200px;
	background: center center no-repeat;
	background-image: url(../image/me.jpg);
	background-size: 200px auto;
}
#login-wrapper > #login-container > #login-details{
	position: absolute;
    top: 10px;
    left: 250px;
    width: 50%;
}
#login-wrapper > #login-container >#login-details> #login-name{
	position: relative;
	color: white;
	font-family: 'roboto';
	text-align: center;
	font-size: 1.2em;
}

#login-password{
	margin-top:10px;
	background:transparent;
	color:white;
	text-align: center;
}
